<li>
    <a class="uk-accordion-title" href="#">{{Post Title}}</a>
    <div class="uk-accordion-content">
        <p>{{Post}}</p>
        <a class="uk-button uk-button-default" href="#">Update</a>
        <a class="uk-button uk-button-default" href="#">Delete</a>
    </div>
</li>