<div class="uk-container uk-margin-large">
    <h2 class="uk-h2">Welcome, here are your posts:</h2>
    <ul uk-accordion="multiple: true">
        {{#each userPosts as |userPosts|}}
        {{> posts}}
        {{/each}}
    </ul>
</div>