<div class="mt-5 jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">404 Error Page</h1>
        <p class="lead">Sorry, it seems like you have reached some sort of error.</p>
        <a class="btn btn-primary btn-lg homeBtn" role="button">Back to Home</a>
    </div>
</div>