<div class="uk-container uk-margin-large-top">
    <h3 class="uk-h2">404 Error Page</h3>
    <p class="lead">Sorry, it seems like you have reached some sort of error.</p>
    <a class="uk-button uk-button-default" href="/">Back to Home</a>
</div>